jupyter==1.0.0
nb_black==1.0.7
numpy==1.21.0
pandas==1.3.0
pyarrow==4.0.1
fastparquet==0.5.0
isoweek==1.3.3
hyperopt==0.2.5
category_encoders==2.2.2
scikit-learn==0.24.2
statsmodels==0.12.2
xgboost==1.4.2
matplotlib==3.4.2
altair==4.1.0
